@media(max-width:1280px){
    .container{
        max-width: 1130px;
    }

    .space{
        margin-top: 0;
    }

    .header-container{
        margin-top: 30px;
        padding-left: 30px;
    }

    .title-text{
        padding: 10px 30px;
    }

    .space-introduce{
        margin: 10px 30px;
    }

    .checkbox{
        top: 20px;
        right: 72px;
    }

    .menu-wrapper{
        top: 30px;
        right: 70px
    }


    .space-image{
        position: relative;
        text-align: center;
    }

    .space-input__content{
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .workspace-section{
        margin-top: 400px;
    }

    .workspace-title{
        margin-bottom: 30px;
    }

    .workspace-title>h2{
        margin-left: 30px;
    }

    .slick-arrow__prev, .slick-arrow__next{
        bottom: 0;
    }

    .customer-slick__arrows{
        right: 30px;
    }  

    .customers-main{
        margin-left: 30px;
    }

    .customers-title{
        margin-left: 30px;
    }

    .answer-main__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        transform: scale(0.9);
    }

    .news-section{
        padding-bottom: 10px;
        padding-top: 30px;
    }

    .news-title{
        margin-left: 50px;
        text-align: center;
    }

    .news-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(320, auto);
        margin-left: 100px;
    }

    .news-content>div:first-child{
        display: block;
    }

    .news-content>div:first-child>div:nth-child(1){
        margin-bottom: 31px;
    }

    .news-content>div:first-child>div:nth-child(2){
        margin-bottom: 31px;
    }

    .news-content>div:first-child>div{
        max-width: 350px;
        margin-bottom: 30px;
    }

    .news-content>div:last-child{
        display: block;
        max-width: 380px;
    }

    .news-content>div:last-child>div{
        margin-bottom: 30px;
    }

    .news-content>div:last-child>div:last-child{
        max-width: 350px;
    }

    .info-content{
        padding: 30px;
    }

    .design-title__content{
        padding-left: 30px;
    }

    .design-container>h2{
        padding-left: 30px;
    }

    .design-main__content>div:first-of-type{
        padding-left: 5px;
    }

    .brands-image__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 3fr);
        row-gap: 10px;
    }

    .brands-image__content>div{
        text-align: center;
    }

    .member-container>div:not(:last-of-type){
        margin-left: 30px;
    }

    .member-container>div:last-of-type{
        margin-right: 30px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .footer-container{
        margin: 0 30px;
    }

    .footer-link__content>div:not(:last-of-type){
        margin-right: 30px;
    }

    .modal-container{
        margin-right: 30px;
        margin-left: 30px;
    }




 @media(max-width:1024px){
    .container{
        max-width: 900px;
    }

    .header-container{
        margin-right: 20px;
    }

    .logo{
        margin-left: 15px;
    }


    .title-text{
        display: block;
    }

    .title-text>p{
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }

    .title-text>h1{
        font-weight: 48px;
    }

    .space-image{
        transform: scale(0.9);
        margin-left: -30px;
    }

    .workspace-section{
        margin-top: 450px;
    }

    .workspace-title{
        margin-bottom: 50px;
    }

    .slick-arrow__prev, .slick-arrow__next{
        bottom: -50px;
    }

    .slick-arrow__prev{
        right: 460px;
    }

    .slick-arrow__next{
        right: 390px;
    }

    .info-container{
        display: block;
    }

    .info-container>div:last-of-type{
        margin: 0 auto;
    }

    .design-container{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .design-title__content{
        justify-content: center;
    }

    .design-container>h2{
        margin: 0 auto;
        text-align: center;
    }

    .design-main__content{
        display: block;
    }

    .design-main__content{
        text-align: center;
    }

    .design-link_content {
        margin: 0 auto;
        padding: 25px;
        max-width: 250px;
    }

    .brands-container{
        margin-top: 40px;
    }

    .brands-text{
        margin-bottom: 40px;
    }

    .customers-container{
        margin-top: 40px;
    }

    .customers-main{
        justify-content: center;
    }

    .customers-container>h2{
        margin: 0 auto;
        text-align: center;
    }

    .customer-slick__arrows{
        right: 60px;
    }

    .answer-title{
        margin-top: 30px;
    }

    .answer-main__content{
        display: block;
    }

    .answer-main__content>div{
        margin: 0 auto;
    }

    .answer-main__content>div>p:first-of-type{
        margin: 0 auto;
    }

    .answer-main__content>div:not(:last-child){
        margin-bottom: 30px;
    }

    .answer-main__content>div:last-of-type{
        margin-bottom: 30px;
    }

    .news-content{
        margin-right: 50px;
        margin-left: 80px;
    }

    .footer-container{
        display: block;
    }

    .footer-container>div:first-child{
        text-align: center;
    }

    .footer-main__text{
        margin: 0 auto;
        margin-top: 20px;
    }

    .footer-container>div:last-child{
        justify-content: center;
        margin-top: 30px;
    }

 }





@media(max-width:900px){
    .container{
        max-width: 750px;
    }

    .header-container{
        padding-left: 0;
    }

    .space-introduce{
        justify-content: center;
    }

    .title-text>h1{
        font-size: 40px;
        text-align: center;
    }

    .space-input__content{
        padding: 20px;
    }

    .space-input__text{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    
    .space-button{
        margin-bottom: 10px;
    }

    .space-image{
        transform: scale(0.7);
        margin-left: -150px;
        margin-top: -70px;
    }

    .workspace-title{
        display: block;
    }

    .workspace-title>p{
        margin: 0 auto;
        text-align: center;
    }

    .workspace-title>h2{
        margin: 0 auto;
        text-align: center;
    }

    .space-image{
        position:relative;
        margin-top: -70px;
        margin-left: -85px;
    }

    .workspace-section{
        margin-top: 350px;
    }

    .workspace-content__text-prev{
        left: 30px;
    }

    .workspace-content__text-next{
        right: 30px;
    }

    .slick-arrow__next{
        right: 285px;
    }

    .slick-arrow__prev{
        right: 415px;
    }

    .design-main__content>div:last-child>img{
        transform: scale(0.8);
    }

    .news-title{
        margin: 0 auto;
    }

    .news-content{
        display: block;
    }

    .news-content>div:first-child>div{
        margin: 0 auto;
    }

    .news-content>div:last-child{
        margin: 0 auto;
        margin-left: 135px;
    }

    .member-container{
        display: block;
    }

    .member-container>div:first-child{
        margin: 0 auto;
    }

    .member-main{
        justify-content: center;
        padding-top: 20px;
    }

    .member-title{
        margin: 0 auto;
        margin-top: 10px;
    }

    .member-text{
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }

    .member-button{
        margin-left: 200px;
    }

    .member-image{
        text-align: center;
    }

    .member-container>div:last-of-type{
        margin: 0;
    }

    .modal-H{
        font-size: 46px;
        line-height: 50px;
        margin: 20px auto;
    }

    .brands-image__content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .modal-link{
        margin-top: 15px;
    }


}




@media(max-width:768px){
    .container{
        max-width: 600px;
    }

    .header-container{
        margin-left: 30px;
    }

    .space-input__content{
        padding: 5px 0;
        width: 380px;
        margin-bottom: 0;
    }

    .space-input__text{
        font-size: 30px;
    }

    .space-input{
        width: 300px;
    }

    .space-button{
        width: 300px;
    }

    .space-label{
        top: 31px;
        left: 50px;
    }

    .input-holder{
        margin: 0 auto;
    }

    .space-image{
        margin-top: -100px;
    }

    .space-image>img{
        transform: scale(0.8);
        margin-left: -75px;
    }

    .workspace-section{
        margin-top: 200px;
    }

    .info-content {
        padding: 10px;
        gap: 25px;
    }

    .info-content>div{
        text-align: center;
    }

    .info-main{
        padding: 30px;
    }

    .design-container>h2{
        padding-left: 0;
    }

    .design-container{
        margin-bottom: -50px;
        margin-top: 30px;
    }

    .design-main__content{
        margin-top: 20px;
    }

    .design-link_content{
        padding: 15px;
    }

    .design-main__content>div:last-child{
        transform: scale(0.8);
        position: static;
        margin-right: 600px;
        margin-top: -80px;
    }

    .slick-slide img{
        margin: 0 auto;
    }

    .slick-initialized .slick-slide{
        width: 520px;
    }

    .gallery-slick__arrows{
        margin-right: -15px;
        margin-left: 0;
    }

    .brands-image__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 2fr);
    }

    .customers-content__slider{
        margin-top: 60px;
    }

    .customer-slick__arrows{
        right: 250px;
        top: 180px;
    }

    .answer-title{
        margin-top: -10px;
        max-width: 400px;
    }

    .answer-content{
        padding: 20px 20px 40px;
    }

    .answer-main__content>div:not(:last-child){
        margin-bottom: 50px;
    }

    .news-title{
        max-width: 400px;
    }

    .news-content>div:last-child{
        margin-left: 60px;
    }

    .member-title{
        max-width: 400px;
        text-align: center;
    }

    .member-main{
        max-width: 500px;
    }

    .member-button {
        margin-left: 150px;
        padding: 12px 90px;
    }

    .footer-section{
        padding-bottom: 0;
    }

    .footer-link__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 2fr);
        row-gap: 30px;
    }

    .footer-link{
        text-align:start;
        margin-right: 0;
    }

    .modal-H{
        font-size: 40px;
        max-width: 350px;
    }


    
}

@media(max-width:600px){
    .container{
        max-width: 470px;
    }

    .logo>img{
        margin-left: 20px;
    }

    .space-introduce{
        justify-content: flex-start;
    }

    .space-introduce>p{
        margin-left: 30px;
    }

    .title-text>h1{
        max-width: 350px;
        font-size: 34px;
        line-height: 50px;
        margin-left: 55px;
        text-align: start;
    }

    .title-text>p{
        max-width: 350px;
        margin: 0 auto;
        text-align: start;
        padding: 0;
        margin-left: 70px;
    }

    .space-input__content{
        margin-top: 20px;
    }

    .space-image>img{
        transform: scale(0.6);
        margin-left: -130px;
    }

    .title-text{
        padding: 0;
    }

    .workspace-section{
        margin-top: 220px;
    }

    .workspace-title>h2{
        font-size: 34px;
        margin-bottom: 20px;
    }

    .workspace-main__text{
        max-width: 350px;
    }

    .slick-arrow__next{
        right: 160px;
    }

    .slick-arrow__prev{
        right: 250px;
    }

    .workspace-content__text-prev, .workspace-content__text-next{
        display: none;
    }

    .info-content>div{
        justify-self: flex-start;
    }

    .info-main__content>h2{
        font-size: 34px;
    }

    .design-title__content{
        justify-content: flex-start;
    }

    .design-container>h2{
        margin-top: 20px;
        font-size: 34px;
        line-height: 50px;
        max-width: 350px;
        text-align: start;
        margin-left: 40px;
    }

    .design-title__content>p{
        margin-left: 10px;
    }

    .design-link>div{
        text-align: start;
        margin-left: 20px;
    }

    .design-main__content>div:last-child>img{
        transform: scale(0.6);
        margin-left: -100px;
        margin-top: -20px;
    }

    .design-main__content>div:last-child{
        margin-bottom: -80px;
    }

    .gallery-main{
        justify-content: flex-start;
        margin-left:45px;
        margin-top: -50px;
    }

    .gallery-h{
        font-size: 34px;
        line-height: 50px;
        text-align: start;
        max-width: 350px;
        margin-left: 45px;
    }

    .brands-title{
        font-size: 34px;
        margin-top: -20px;
    }

    .brands-text{
        max-width: 350px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .brands-image__content>div{
        transform: scale(0.8);
    }

    .customers-main{
        justify-content: flex-start;
    }

    .customers-main>p{
        margin-left: 15px;
    }

    .customers-container>h2{
        font-size: 34px;
        line-height: 50px;
        text-align: start;
        max-width: 350px;
        margin-left: 45px;
    }

    .customer-slick__arrows{
        right: 180px;
    }

    .customer-content__wrapper{
        height: 290px;
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .answer-title{
        font-size: 34px;
        line-height: 50px;
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
    }

    .answer-main__content{
        margin-top: 10px;
    }

    .news-section{
        padding-top: 0;
    }

    .news-title{
        font-size: 34px;
        line-height: 50px;
        max-width: 350px;
    }

    .news-content{
        margin: 0 auto;
    }

    .news-content>div{
        transform: scale(0.8);
    }

    .news-content>div:first-child{
        margin-top: -80px;
    }

    .news-content>div:last-child{
        margin-top: -210px;
        margin-left: 58px;
    }

    .member-section{
        margin-top: -100px;
    }

    .member-main{
        justify-content: flex-start;
    }

    .member-main>p{
        margin-left: 45px;
    }

    .member-title{
        font-size: 34px;
        line-height: 50px;
        text-align: start;
        max-width: 350px;
        margin-left: 45px;
    }

    .member-container>div>p{
        max-width: 350px;
        text-align: start;
        margin-left: 45px;
    }

    .member-button{
        margin-left: 45px;
    }

    .member-image>img{
        transform: scale(0.8);
        margin-top: -20px;
    }

    .footer-section{
        padding-top: 20px;
    }

    .footer-title{
        font-size: 34px;
        line-height: 50px;
    }

    .footer-link__content>div{
        text-align: center;
    }

    .modal-H{
        font-size: 36px;
        line-height: 40px;
    }

    .modal-container{
        padding: 5px;
        margin-left: 15px;
    }

}


@media(max-width:480px){
    .container{
        max-width: 350px;
    }

    .logo{
        margin-left: 9px;
    }

    .space-introduce{
        margin-left: 3px;
    }

    .title-text>h1{
        margin-left: 30px;
        font-size: 30px;
        line-height: 40px;
    }

    .title-text>p{
        margin-left: 30px;
        max-width: 250px;
    }

    .space-input__content{
        max-width: 320px;
        padding: 10px;
        box-sizing: border-box;
    }

    .space-input__text{
        font-size: 26px;
        margin: 0 auto;
    }

    .space-label{
        left: 16px;
    }

    .space-button {
        width: 200px;
    }

    .space-image>img{
        transform: scale(0.5);
        margin-left: -203px;
        margin-top: -60px;
    }

    .workspace-section{
        margin-top: 75px;
    }

    .workspace-title>h2{
        font-size: 30px;
        line-height: 40px;
    }

    .workspace-main__text{
        max-width: 250px;
    }

    .slick-arrow__next{
        right: 115px;
    }

    .slick-arrow__prev{
        right: 185px;
    }

    .slick-dots li{
        display: none;
    }

    .info-container{
        margin-top: 20px;
    }

    .info-content{
        grid-template-columns: 1fr;
    }

    .info-content>div{
        margin-left: 75px;
    }

    .info-main>h2{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px;
    }

    .info-main>p{
        max-width: 250px;
    }

    .info-main{
        padding: 20px;
    }

    .design-container>h2{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px;
    }

    .design-main__content>div:last-child>img{
        transform: scale(0.5);
        margin-left: -165px;
    }

    .gallery-h{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px;
        margin-top: 20px;
    }

    .slick-track{
        left: -10px;
    }

    .brands-title{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px;
    }

    .brands-text{
        max-width: 250px;
    }

    .brands-image__content{
        transform: scale(0.8);
        gap: 40px;
    }

    .customers-container{
        margin-top: 10px;
    }

    .customers-container>h2{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px;
        margin-top: 20px;
    }

    .customer-slick__arrows{
        right: 120px;
        top: 210px;
    }

    .answer-title{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px;
        margin-top: 10px;
    }

    .answer-content{
        max-width: 250px;
    }

    .answer-span{
        padding: 15px;
    }

    .answer-content__main-text{
        font-size: 22px;
    }

    .customer-content__wrapper{
        height: 470px;
        width: 250px;
    }

    .customer-content__wrapper {
        padding: 25px;
        margin: 50px 65px;
    }

    .news-container{
        padding-top: 20px;
    }

    .news-title{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px;
    }

    .news-content>div:last-child{
        margin-left: 0;
    }

    .news-content>div:last-child>div:first-child{
        margin-right: 0;
    }

    .news-content>div:last-child>div{
        margin-right: 0;
    }

    .member-title{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px; 
    }

    .member-container>div>p{
        max-width: 250px;
    }

    .member-button{
        margin-left: 80px;
        padding: 12px 30px;
    }

    .member-image>img{
        transform: scale(0.7);
        margin-left: -20px;
    }

    .footer-title{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px; 
    }

    .footer-main__text{
        max-width: 250px;
    }

    .footer-link__content{
        grid-template-columns: 1fr;
    }

    .footer-link__content>div{
        text-align: start;
        margin-left: 50px;
    }

    .modal-brands{
        grid-template-columns: 1fr;
        margin-top: -40px;
        gap: 10px;
    }

    .modal-H{
        font-size: 30px;
        line-height: 40px;
        max-width: 250px;
        margin: 10px auto;
    }

    .modal-link{
        margin-top: -30px;
    }

    

}
