.container{
    max-width: 1140px;
    margin: 0 auto;
}

.menu-wrapper{
    position: absolute;
    right: 220px;
    top: 73px;
    z-index: 3;
}

.menu-wrapper__line:first-of-type{
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: #FF5722;
}


.menu-wrapper__line:nth-child(2){
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #FF5722
}

.menu-wrapper__line:last-of-type{
    width: 25px;
    height: 4.5px;
    border-radius: 4px;
    background-color: #FF5722;
    transform: translateX(60%);
}

.menu-wrapper>div:not(:last-of-type){
    margin-bottom: 4px;
}

.checkbox{
    width: 30px;
    height: 30px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    right: 223px;
    top: 70px;
    z-index: 4;
}

.menu-wrapper__line{
    transition: 0.5s linear;
}

.checkbox:checked~.menu-wrapper>div:first-child{
    transform: rotate(45deg) translate(3px, 0.5px);
    transition: 0.5s linear;
}

.checkbox:checked~.menu-wrapper>div:nth-child(2){
    transform: rotate(-45deg);
    transition: 0.5s linear;
}

.checkbox:checked~.menu-wrapper>div:nth-child(3){
    transform: rotate(45deg) translate(7px, -11px);
    transition: 0.5s linear;
}

.checkbox:checked~.menu{
    top: 0;
    transition: all 0.5s;
    margin: 0 auto;
}


.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
}

.menu{
    transition: all 0.5s;
    position: fixed;
    z-index: 2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #10375C;
}

.menu>div{
text-align: center;
}

.menu>div{
    margin-top: 50px;
    
}


.header-ul>li>a{
    text-decoration: none;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: white;
}

.header-ul>li{
    margin-top: 30px;
}

.header-ul>li>a:hover{
    text-decoration: underline 3px;
    text-decoration-color: #FF5722;
}

.header-login{
    text-decoration: none;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FF5722;
    cursor: pointer;
    background-color: white;
    padding: 11px 30px;
    border: 2px solid #FF5722;

}

.header-button{
    box-sizing: border-box;
    padding: 12px 24px;
    border: 2px solid white;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #FF5722;
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
    cursor: pointer;
}

.space{
    margin-top: 60px;
}

.space-container{
    height: 950px;
}

.space-introduce{
    display: flex;
    align-items: center;
}

.black-main__text{
    font-family: 'Lato';
    font-size: 20px;
    line-height: 30px;
    color: #222831;
}

.black-span{
    margin-left: 15px;
    width:75px;
    height: 2px;
    background-color: black;
}

.title-text{
    display: flex;
}

.title-text__h{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 67px;
    color: #10375C;
}

.title-text__h>span{
    color: #DD2C00;
}

.title-text__about{
    max-width: 385px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #6A6A6A;
}

.space-image{
    position: absolute;
    right: 0;
}

.space-input__content{
    margin-top: 60px;
    width: 445px;
    background-color: #10375C;
    position: absolute;
    z-index: 1;
    text-align: center;
}

.space-input{
    box-sizing: border-box;
    border: none;
    width: 365px;
    padding: 8px 16px 34px;
    background: #0D2C4A;
    color: white;
}

.input-holder{
    position: relative;
    max-width: 365px;
    margin-left: 40px;
}

.space-input__text{
    font-family: 'Lora';
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: -35px;
}

.space-form>input::placeholder{
    font-family: 'Lato';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: black;
    margin: 8px 16px;
}

.space-label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    position: absolute;
    top: 25px;
    left: 16px;
}

.space-button{
    width: 365px;
    box-sizing: border-box;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    background-color: #FF5722;
    padding: 13px 0;
    margin-bottom: 30px;
    cursor: pointer;
}

.workspace-container{
    position: relative;
}

.workspace-title{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.workspace-main__text{
    font-family: 'Lato';
    font-size: 18px;
    line-height: 28px;
    color: #9A9A9A;
    max-width: 450px;
    margin-left: 160px;
}

.title-average__text{
    font-family: 'Lora';
    font-size: 32px;
    line-height: 41px;
    color: white;
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
}

.workspace-image__text{
    font-family: 'Lato';
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: white;
    max-width: 250px;
}

.workspace-general__content{
    display: grid;
}

.workspace-content{
    position: relative;
    max-width: 350px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 30px;
}

.workspace-hide__content{
    position: absolute;
    z-index: 1;
    top: 210px;
    transform: translate(-50%, -50%);
    left: 175px;
    display: none;    
}

.workspace-content:hover>img{
    opacity: 0;
}

.workspace-content:hover{
    background-color: #10375C;
    transition-duration: 1s ;
}

.workspace-content:hover>div{
    display: block;
    transition-duration: 1s ;
}

.workspace-content__span{
    padding: 23px 75px 23px 50px;
    background-color: #FF5722;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: white;
    transform: translateX(-71%);
    display: none;
    animation: hide-span;
    animation-duration: 3s;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
}

.workspace-content__menu-span{
    right: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: white;
    position: absolute;
}

.workspace-content:hover>span{
    display: inline-block;

}

.workspace-content__text-prev{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    position: absolute;
    bottom: -10px;
    left: 105px;
}

.workspace-content__text-next{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    right: 115px;
    bottom: -10px;
}

.info-container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.info-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 60px;
}

.info-main{
    max-width: 540px;
    background-color: #10375C;
    padding: 50px;
}

.white-main__text{
    font-family: 'Lato';
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.white-span{
    margin-left: 15px;
    width:75px;
    height: 2px;
    background-color:white;
}

.info-main__content{
    display: flex;
    align-items: center;
}

.title-text__white{
    font-family: 'Lora';
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: white;
    margin-top: 5px;
}

.info-text{
    font-family: 'Lato';
    font-size: 20px;
    color: white;
    margin-top: 25px;
}

.design-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.design-title__content{
    display: flex;
    align-items: center;
}

.title-text__black{
    max-width: 570px;
    font-family: 'Lora';
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: #10375C;
}

.design-main__content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.design-link_content{
    padding: 25px;
}

.design-link_content>a{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.design-link_content:hover{
    background-color: #FF5722;

}

.design-link_content:hover>a{
    color: white;
    cursor: pointer;
}

.gallery-main{
    display: flex;
    align-items: center;
    justify-content: center;
}   


.gallery-h{
    max-width: 500x;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.gallery-content{
    margin-top: 110px;
}

.brands-container{
    text-align: center;
    margin-top: 100px;
}

.brands-title{
    margin: 0 auto;
}

.brands-text{
    margin: 25px 0 70px;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 28px;
    color: #9A9A9A;
}

.brands-image__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 70px;
}

.customers-container{
    margin-top: 100px;
    position: relative;
}

.customers-main{
    display: flex;
    align-items: center;
}

.customers-title{
    max-width: 400px;
}

.customer-content__slider{
    margin-top: 50px;
}

.customer-content__wrapper{
    max-width: 445px;
    background-color: #10375C;
    padding: 40px;
    height: 350px;
    margin: 50px 50px;
    position: relative;
}

.customer-content__info-text{
    max-width: 365px;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 10px 0px ;
}

.customer-content__person{
    display: flex;
    align-items: center;
}

.customer-content__person>div{
    margin-left: 15px;
}

.customer-content__wrapper>div{
    position: absolute;
    bottom: 35px;
}

.customer-person__name{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.customer-person__profession{
    font-family: 'Lato';
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

.answer-title{
    max-width: 580px;
    margin: 0 auto;
    margin-top: 100px;
}

.answer-main__content{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 50px;
    
}

.answer-content{
    max-width: 350px;
    padding: 42px 40px 60px;
    box-shadow: -1px 4px 10px 8px rgba(92,92,92,0.18);
    position: relative;
    margin-bottom: 100px;
}

.answer-content__main-text{
    font-family: 'Lora';
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    max-width: 270px;
    margin-bottom: 15px;
}

.answer-content__text{
    font-family: 'Lora';
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    max-width: 270px;
    display: none;
}

.answer-content__text-click{
    color: white;
    background-color: #FF5722;
    border-radius: 30px;
}

.span-rotate{
    transform: rotate(180deg);
    transition: 1s;
}

.answer-content__span-click{
    color: #FF5722;
    background-color: white;
}

.answer-span{
    padding: 25px;
    background-color: #FF5722;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -25px;
    border-radius: 50%;
    transition: 1s;
    border: 3px solid white;
    
}

.news-section{
    background-color: #F8F8F8;
    padding: 60px 0 100px;
}

.news-title{
    max-width: 800px;
}

.news-content{
    margin-top: 50px;
}

.news-content>div{
    display: flex;
}

.news-content>div:first-child{
    margin-bottom: 30px;
}

.news-content>div>div:nth-child(2){
    margin-right: 30px;
}

.news-content>div:last-child>div:first-child{
    margin-right: 30px;
}

.news-image__content-h{
    font-family: 'Lora';
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: black;
    max-width: 315px;
}

.news-image__content-text{
    font-family: 'Lato';
    font-size: 16px;
    line-height: 26px;
    color: #9A9A9A;
    margin-top: 25px;
}

.news-image__content{
    cursor: pointer;
    background-color: white;
}

.news-image__personal{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.news-image__personal-name{
    font-family: 'Lato';
    font-size: 18px;
    line-height: 28px;
    color: #10375C;
}

.news-image__personal-profession{
    font-family: 'Lato';
    font-size: 16px;
    line-height: 26px;
    color: #9A9A9A;
    }

.news-image__personal>div{
    margin-left: 15px;
}

.news-image__content>a{
    text-decoration: none;
}

.news-image_info{
    padding: 15px 16px;
}

.news-image__info-h{
    font-family: 'Lora';
    font-size: 22px;
    line-height: 28px;
    color: black;
    max-width: 320px;
}

.news-image__info-text{
    font-family: 'Lato';
    font-size: 16px;
    line-height: 26px;
    color: #9A9A9A;
    margin-top: 3px;
}

.news-content>div:first-child>div:not(:nth-child(2)){
    max-width: 350px;
}

.news-content>div:first-child>div:nth-child(2){
    width: 380px;
    padding: 33px;
    box-sizing: border-box;
}



.member-section{
    background-color: #10375C;
}

.member-main{
    display: flex;
    align-items: center;
}

.member-title{
    max-width: 450px;
}

.member-text{
    max-width: 430px;
    margin-top: 15px;
    font-family: 'Lato';
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.member-button{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: white;
    background-color: #FF5722;
    border: none;
    box-sizing: border-box;
    padding: 12px 115px;
    margin-top: 35px;
    cursor: pointer;
}

.member-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-image{
    margin-top: 20px;
}

.footer-section{
    background-color: #0D2C4A;
    padding: 50px 0 100px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-family: 'Lora';
    font-weight: bold;
    font-size: 52px;
    line-height: 67px;
    color: white;
}

.footer-main__text{
    margin-top: 15px;
    max-width: 310px;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 26px;
    color: #F8F8F8;
    opacity: 0.85;
}

.footer-social__link{
    margin-top: 25px;
}

.footer-social__link>a:not(:last-child){
    margin-right: 20px;
}

.footer-link__content{
    display: flex;
}

.footer-link__content>div:not(:last-of-type){
    margin-right: 60px;
}

.footer-link__text{
    margin-bottom: 25px;
    font-family: 'Lato';
    font-size: 20px;
    line-height: 30px;
    color: white;
    opacity: 0.5;
}

.footer-link__ul>li>a{
    text-decoration: none;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.footer-link__ul>li:not(:last-child){
    margin-bottom: 10px;
}

.footer-link__ul{
    max-width: 215px;
}

@keyframes hide-span{
    from{transform: translate(-180px);}
    to{transform: translate(0);}
}

    