body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;    
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo>div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: 400;
font-size: 18px;
line-height: 25px;
color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display:inline-block;
}

.header-li>a{
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
}

.header-li>a:hover{
    font-weight: bold;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-nav>div{
    margin-left: 75px;
}

.button{
    border: none;
    border-radius: 2px;
    padding: 17px 28px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}

.button:hover{
    background: white;
    color:#3040C4;
    transition: 1s;
}